<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tie.admincollegeapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AdminCollegeApp">
        <activity
            android:name=".Notice.DeleteNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".Faculty.UpdateFaculty"
            android:exported="false" />
        <activity
            android:name=".Faculty.AddFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".Faculty.UpdateFacultyActivity"
            android:exported="false" />
        <activity
            android:name=".UploadEbookActivity"
            android:exported="false" />
        <activity
            android:name=".UploadImageActivity"
            android:exported="false" />
        <activity
            android:name=".Notice.UploadNoticeActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>